<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>my blog</title>
    <style>
        .post{
            padding:20px 260px;
        }
        .pos .info span {
            padding-right: 50px;}

    </style>
</head>
<body>
<!-- searchbox START -->
{% extends "base.html" %}
  {% block content %}
      {% for post in blog_list %}
      <div class="post">
      <h2>{{  post.title }}</h2>
            <div class="info">
            <span class="catagory1" style="color: #6c6c60;">{{ post.created | date:"1,F jS"}}</span>
            <span class="author1" style="color: #6c6c60;"> {{ post.catagory }}</span>
            <span class="created1" style="color: #6c6c60;">{{ post.author }}</span>
            <span class="created1" style="color: #6c6c60;"> {{ post.tags }}</span>
            </div>

      <p>{{ post.content | truncatechars:500 }}</p>
      </div>
      {% endfor %}
  {% endblock %}
</body>
</html>